.Blog {
    .categories-section {
        margin-bottom: 8rem;
        .categories {
            display: flex;
            .category {
                width: 25rem;
                height: 15.5rem;
                margin-right: 20rem;
                border: 2px solid rgba(123, 163, 238, .6);
                border-radius: .5rem;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}